<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">

    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}">
    <script type="text/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js}"></script>

    <script type="text/javascript" th:src="@{/plugins/table-export/tableexport.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/bootstrap-table-extends.js}"></script>

    <script type="text/javascript" th:src="@{/js/dynamicModuleGroupItem/main.js}"></script>

    <link rel="stylesheet" th:href="@{/css/dynamicModuleGroup/main.css}">
    <script type="text/javascript" th:src="@{/js/dynamicModuleGroup/main.js}"></script>

    <title>动态模块管理</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="font-weight-bold">查询条件</span>
                <button id="page-data-query-btn" type="button" class="btn btn-primary btn-xs pull-right">查&nbsp;&nbsp;询</button>
            </div>
            <div class="panel-body">
                <form class="form-inline page-data-query-form" role="form" id="page-data-query-form">
                    <div class="form-group col-xs-3">
                        <input type="text" class="form-control" name="code" placeholder="标识">
                    </div>
                    <div class="form-group col-xs-3">
                        <input type="text" class="form-control" name="title" placeholder="标题">
                    </div>
                    <div class="form-group col-xs-3">
                        <select class="form-control main-select-width" name="enable">
                            <option value="">是否启用</option>
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <div id="toolbar">
            <div class="btn-group">
                <button id="btn-add" type="button" class="btn btn-default" data-title="添加-动态模块信息" data-handle="save">
                    <span aria-hidden="true"></span>添加
                </button>
                <button id="btn-edit" type="button" class="btn btn-default" data-title="修改-动态模块信息" data-handle="update">
                    <span aria-hidden="true"></span>修改
                </button>
                <button id="btn-del" type="button" class="btn btn-default" data-handle="delete">
                    <span aria-hidden="true"></span>删除
                </button>
            </div>
        </div>
        <div>
            <table id="page-data-table"></table>
        </div>
    </div>
    <div class="col-xs-7">
        <div id="toolbar-item">
            <div class="btn-group">
                <button id="btn-item-add" type="button" class="btn btn-default" data-title-item="添加-动态明细信息" data-handle-item="save">
                    <span aria-hidden="true"></span>添加
                </button>
                <button id="btn-item-edit" type="button" class="btn btn-default" data-title-item="修改-动态明细信息" data-handle-item="update">
                    <span aria-hidden="true"></span>修改
                </button>
                <button id="btn-item-del" type="button" class="btn btn-default" data-handle-item="delete-item">
                    <span aria-hidden="true"></span>删除
                </button>
            </div>
        </div>
        <div>
            <table id="page-item-data-table"></table>
        </div>
    </div>
</div>
</body>
</html>