#btn-package-query {
    display: none;
}
.pack-row-margin{
    margin-top: 90px !important;
}
.margin-tip{
    margin-top: 20px !important;
}
.button-margin{
    margin-right: 7px !important;
    margin-bottom: 7px !important;
}