<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">
    <link rel="stylesheet" th:href="@{/css/orderInfoToLead/edit.css}">
    <script type="text/javascript" th:src="@{/js/orderInfoToLead/edit.js}"></script>

    <title>导入物流订单信息</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">文件上传</div>
            <div class="panel-body">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="select-file-btn">选择文件</button>
                    <button type="button" class="layui-btn pull-right" id="upload-file-btn">开始上传</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>