<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">
    <link rel="stylesheet" th:href="@{/css/userRelationSon/main.css}">
    <script type="text/javascript" th:src="@{/js/userRelationSon/main.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/echarts.min.js}"></script>
    <title>查看用户父级关系</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">

        <strong>提示:黑色节点无父级节点</strong>

        <div id="chartMain" style="width:1200px; height: 750px;"></div>
    </div>
</div>
</body>
</html>