<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">
    <link rel="stylesheet" th:href="@{/css/goodsAttribute/edit.css}">
    <script type="text/javascript" th:src="@{/js/goodsAttribute/edit.js}"></script>
    <title>商品属性信息</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                基本信息
                <button id="add-attr-btn" type="button" class="btn btn-primary btn-xs pull-right">添加属性</button>
            </div>
            <div class="panel-body">
                <form id="attr-edit-from">
                    <input type="hidden" name="goodsGroupId" id="goods-group-id">
                    <div class="row attr-item" id="attr-item-template">
                        <div class="col-xs-3">
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="attr-name" style="width: 160px;" placeholder="属性名称"/>
                                    <span class="badge attr-item-remove-badge">&times;</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9 item-option-edit-panel">
                            <div class="form-inline">
                                <div class="form-group attr-option-template" style="margin-left: 4px;">
                                    <input type="text" class="form-control" placeholder="属性选项"/>
                                    <span class="badge attr-option-remove-badge">&times;</span>
                                </div>
                                <div class="form-group" style="margin-left: 4px;">
                                    <button class="btn btn-default form-control attr-option-add-btn" type="button">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>