<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">
    <link rel="stylesheet" th:href="@{/css/modifyRefundAmount/edit.css}">
    <script type="text/javascript" th:src="@{/js/modifyRefundAmount/edit.js}"></script>

    <title>修改同意退款金额</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">基本信息</div>
            <div class="panel-body">
                <p>嗨</p>
                <!--<form class="form-horizontal col-xs-11" id="edit-form">-->
                    <!--<input type="hidden" name="id">-->

                    <!--<div class="form-group">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon" style="padding-right: 19.5px;padding-left: 19.5px">是否退款</span>-->
                            <!--<select class="form-control" name="userType" id="user-type-select">-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group" id="refundAmount">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon">同意退款金额</span>-->
                            <!--<input type="text" class="form-control" name="refuseReason" placeholder="简介描述">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group" id="refuseReason">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon">拒绝理由</span>-->
                            <!--<input type="text" class="form-control" name="refuseReason" placeholder="简介描述">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon">备注</span>-->
                            <!--<input type="text" class="form-control" name="remark" placeholder="简介描述">-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</form>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>