<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">
    <link rel="stylesheet" th:href="@{/css/logisticTemplate/edit.css}">
    <script type="text/javascript" th:src="@{/js/logisticTemplate/edit.js}"></script>

    <title>运费模块信息</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">基本信息</div>
            <div class="panel-body">
                <form class="form-horizontal col-xs-11" id="edit-form">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">模板名称</span>
                            <input type="text" class="form-control" name="name" placeholder="模板名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">运费类型</span>
                            <select class="form-control" name="logisticTemplateType" id="logistic-template-type-select">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon span-column-length">说明</span>
                            <input type="text" class="form-control" name="summary" placeholder="说明">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon span-column-length">备注 </span>
                            <input type="text" class="form-control" name="remark" placeholder="备注">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>