#inputSpan1 {
    padding-left: 26.1px;
    padding-right: 26.1px;
}

#inputSpan2 {
    padding-left: 26.1px;
    padding-right: 26.1px;
}

#inputSpan3 {
    padding-left: 26.1px;
    padding-right: 26.1px;
}

#inputSpan4 {
    padding-left: 26.1px;
    padding-right: 26.1px;
}

#inputSpan5 {
    padding-left: 40.1px;
    padding-right: 40.1px;
}

#inputSpan6 {
    padding-left: 26.1px;
    padding-right: 26.1px;
}

#parent-display {
    display: none;
}