<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">

    <link rel="stylesheet" th:href="@{/plugins/bootstrap-multiselect/bootstrap-multiselect.css}">
    <script type="text/javascript" th:src="@{/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/brand/edit.css}">
    <script type="text/javascript" th:src="@{/js/brand/edit.js}"></script>
    <title>商品分类信息</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">基本信息</div>
            <div class="panel-body">
                <form class="form-horizontal col-xs-11" id="edit-form">
                    <input type="hidden" name="id">
                    <input type="hidden" name="imageAttachment.id" id="imageAttachmentId">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">国家名称</span>
                            <select class="form-control" id="country-list" name="country.id">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">商品分类</span>
                            <select id="goods-group-multiple-selected" multiple="multiple" style="border-left:none;border-radius:0px;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" >品牌编码</span>
                            <input type="text" class="form-control" name="code" placeholder="品牌编码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" >品牌名称</span>
                            <input type="text" class="form-control" name="name" placeholder="品牌名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" >英文名称</span>
                            <input type="text" class="form-control" name="englishName" placeholder="英文名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" >是否热门</span>
                            <select  class="form-control" name="hot">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" >品牌简介</span>
                            <input type="text" class="form-control" name="summary" placeholder="品牌简介">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" >排序编号</span>
                            <input type="text" class="form-control" name="orderNum" placeholder="排序编号" value="0">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">图标附件</div>
            <div class="panel-body">
                <img class="img-thumbnail resource-img-thumbnail-big" id="attachment-image">
                <hr/>
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="select-file-btn">选择文件</button>
                    <button type="button" class="layui-btn pull-right" id="upload-file-btn">开始上传</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>