<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">
    <link rel="stylesheet" th:href="@{/css/tabBar/edit.css}">
    <script type="text/javascript" th:src="@{/js/tabBar/edit.js}"></script>
    <title>编辑信息</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">未激活图标
            </div>
            <div class="panel-body">
                <img class="img-thumbnail resource-img-thumbnail-big" id="attachment-image-unActive">
                <hr/>
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="select-file-unActive-btn">选择文件</button>
                    <button type="button" class="layui-btn pull-right" id="upload-file-unActive-btn">开始上传</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">激活图标
            </div>
            <div class="panel-body">
                <img class="img-thumbnail resource-img-thumbnail-big" id="attachment-image-active">
                <hr/>
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="select-file-active-btn">选择文件</button>
                    <button type="button" class="layui-btn pull-right" id="upload-file-active-btn">开始上传</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">基本信息</div>
            <div class="panel-body">
                <form class="form-horizontal col-xs-11" id="edit-form">
                    <input type="hidden" name="id">
                    <input type="hidden" name="unActiveImageAttachment.id" id="imageAttachmentUnActiveId">
                    <input type="hidden" name="activeImageAttachment.id" id="imageAttachmentActiveId">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon span-group-length">编码</span>
                            <input type="text" class="form-control" name="code" placeholder="编码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon span-group-length">名称</span>
                            <input type="text" class="form-control" name="name" placeholder="名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">是否启用</span>
                            <select class="form-control" name="enable">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid col-xs-6">
        <p>*提示:请上传16×16,32×32,64×64,128×128的正方形图标</p>
    </div>
</div>
</body>
</html>