<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">
    <link rel="stylesheet" th:href="@{/css/repertory/edit.css}">
    <script type="text/javascript" th:src="@{/js/repertory/edit.js}"></script>

    <title>编辑国家信息</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">基本信息</div>
            <div class="panel-body">
                <form class="form-horizontal col-xs-11" id="edit-form">
                    <input type="hidden" name="id">
                    <div class="form-horizontal col-xs-5">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">国家名称</span>
                                <select class="form-control" id="country-list" name="country.id">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">仓库编号</span>
                                <input type="text" class="form-control" name="code" placeholder="仓库编号">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">仓库名称</span>
                                <input type="text" class="form-control" name="name" placeholder="仓库名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">详细地址 </span>
                                <input type="text" class="form-control" name="address" placeholder="详细地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">默认发货人 </span>
                                <input type="text" class="form-control" name="defaultSenderName" placeholder="默认发货人">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">默认发货电话号码 </span>
                                <input type="text" class="form-control" name="defaultSenderPhoneNo" placeholder="默认发货电话号码">
                            </div>
                        </div>

                    </div>
                    <div class="form-horizontal col-xs-5 pull-right">

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">管理人员 </span>
                                <input type="text" class="form-control" name="manager" placeholder="管理人员">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">电话号码</span>
                                <input type="text" class="form-control" name="phoneNo" placeholder="电话号码">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">老板名称</span>
                                <input type="text" class="form-control" name="bossName" placeholder="老板名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">支付方式</span>
                                <input type="text" class="form-control" name="paymentType" placeholder="支付方式">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">支付账号</span>
                                <input type="text" class="form-control" name="paymentAccountNo" placeholder="支付账号">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">详细备注</span>
                                <input type="text" class="form-control" name="remark" placeholder="详细备注">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>