<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">

    <link rel="stylesheet" th:href="@{/css/rebateRuleRefEnable/edit.css}">

    <script type="text/javascript" th:src="@{/js/rebateRuleRefEnable/edit.js}"></script>

    <title>编辑返利規則是否开启</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">基本信息</div>
            <div class="panel-body">
                <form class="form-horizontal col-xs-11" id="edit-form">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">是否启用</span>
                            <select class="form-control" name="enable">
                                <option value="true">是</option>
                                <option value="false"> 否</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>