<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">
    <link rel="stylesheet" th:href="@{/css/logisticDetail/batchTake.css}">
    <script type="text/javascript" th:src="@{/js/logisticDetail/batchTake.js}"></script>

    <title>批量订阅</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">基本信息</div>
            <div class="panel-body">
                <form class="form-horizontal col-xs-11" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">时间区段</span>
                            <input class="form-control" name="dateInterval"  id="dateInterval" placeholder="开始-结束时区">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>