<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: copy(~{::link},~{::script},~{::title})}">
    <link rel="stylesheet" th:href="@{/css/home/changePassword.css}">
    <script type="text/javascript" th:src="@{/js/home/changePassword.js}"></script>
    <title>修改密码</title>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="font-weight-bold">修改密码</span>
    </div>
    <div class="panel-body">
        <form class="form-horizontal col-xs-12"  id="edit-form">
            <div class="form-horizontal col-xs-4 col-xs-offset-4">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" style="padding-left:19.3px ;padding-right: 19.3px">当前密码</span>
                        <input type="password" class="form-control" name="oldPassword" placeholder="当前密码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" style="padding-left: 26px;padding-right: 26px">新密码</span>
                        <input type="password" class="form-control" name="newPassword" placeholder="新密码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">确认新密码</span>
                        <input type="password" class="form-control" name="rePassword" placeholder="确认新密码">
                    </div>
                </div>
                <div class="form-group pull-right">
                    <div class="input-group">
                        <button type="button" class="layui-btn" id="btn-edit">确认修改</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <p class="layui-word-aux middle">密码需由6到18位字母和数字组合</p>
            </div>
        </form>
    </div>
</div>
</body>
</html>